.card-full {
    width: 580px;
}

.card-full .preview-full {
    margin-top: 55px;
    width: 570px;
    height: 351px;
    transition: all 325ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.link {
    text-decoration: none;
}

.card-full .preview-full:hover {
    filter: brightness(88%);
}

.card-full .decsription {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
}

.card-full .title {
    color: black;
    font-weight: 620;
    font-size: 21.8px;
}

.card-full .category {
    color: black;
    color: #9B9B9B;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}

.card-full .category::before {
    margin-top: 2px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .3em;
    margin-bottom: 1px;
}

.card-full .category[data-category='Культура']::before {
    background-color: #FC5B5E;
}

.card-full .category[data-category='Общество']::before {
    background-color: #FDAE55;
}

.card-full .category[data-category='Политика']::before {
    background-color: #49BF98;
}

.card-full .category[data-category='Спорт']::before {
    background-color: #4A4D77;
}

.card-full .category[data-category='Наука']::before {
    background-color: #27B2CD;
}

.card-full .category[data-category='Технологии']::before {
    background-color: #282828;
}

.card-full .article-about {
    width: 600px;
    height: 100px;
}

.card-full .article-about .title {
    margin-bottom: 13px;
    margin-left: 5px;
    margin-top: 15px;
    width: 550px;
}

.card-full .article-about .decsription {
    margin-left: 5px;
    width: 560px;
}